*{
	margin: 0;
	padding: 0;
	font-family: Helvetica;

}

header{
	background-image: url(../star.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;

}

ul li {
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	transition: 0.9s ease;
	
}

ul li a:hover{
	background-color: #fff;
	color: #000;


}